[CRAB]
jobtype = cmssw
scheduler = remoteGlidein
use_server = 0

[CMSSW]
datasetpath=None
generator=lhe
#dbs_url = http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_02/servlet/DBSServlet
pset=TStauStau_50_0_GEN_FASTSIM_HLT_PU.py
events_per_job = 10
number_of_jobs = 2
get_edm_output = 1

[USER]
copy_data = 1
return_data = 0
storage_element = T2_PT_NCG_Lisbon
user_remote_dir = /TStauStau/TStauStau_50_0
storage_port = 8444
check_user_remote_dir = 0
#publish_data = 1
#publish_data_name = TASK_NAME
#dbs_url_for_publication = https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_02_writer/servlet/DBSServlet
ui_working_dir = TStauStau_50_0

[GRID]
se_white_list = T2_PT_NCG_Lisbon
